<div id="formId" class="form-content">
    <form class="form" >
        <div class="form-head">Employee Payroll form</div>
        <div class="row-content" >
            <label class="label text" for="name">Name</label>
            <input class="input" type="text" id="name" name="name" placeholder="Your name.." required>
        </div><br>

        <div class="row-content">
            <label class="label text" for="profile">Profile image</label>
            <div class="profile-radio-content">
                <label>
                    <input type="radio" id="profile1" name="profile" value="./assets/profile-images/Ellipse -3.png">
                    <img class="profile" id="image1" src="./assets/first.png">
                </label>
                <label style="margin-left: 20px;">
                    <input type="radio" id="profile2" name="profile"  value="./assets/profile-images/Ellipse 1.png">
                    <img class="profile" id="image2" src="./assets/second.png">
                </label>
                <label style="margin-left: 20px;">
                    <input type="radio" id="profile3" name="profile"  value="./assets/profile-images/Ellipse -8.png">
                    <img class="profile" id="image3" src="./assets/third.png">
                </label>
                <label style="margin-left: 20px;">
                    <input type="radio" id="profile4" name="profile" value="./assets/profile-images/Ellipse -7.png"s>
                    <img class="profile" id="image4" src="./assets/fourth.png">
                </label>
            </div>
        </div><br>
        <div class="row-content">
            <label class="label text" for="gender">Gender</label>
            <div>
                <input type="radio" id="male" name="gender" value="male">
                <label class="text" for="male">male</label>
                <input type="radio" id="female" name="gender" value="female" style="margin-left: 30px;">
                <label class="text" for="female">female</label>
            </div>
        </div><br>
        <div class="row-content">
            <label class="label text" for="department" >Department</label>
            <div>
                <section >
                    <mat-checkbox>HR</mat-checkbox>
                    <mat-checkbox class="checkbox"  style="margin-left: 30px;">Sales</mat-checkbox>
                    <mat-checkbox class="checkbox"  style="margin-left: 30px;">Finance</mat-checkbox>
                    <mat-checkbox class="checkbox"  style="margin-left: 30px;">Engineer</mat-checkbox>
                    <mat-checkbox class="checkbox"  style="margin-left: 30px;"s>Other</mat-checkbox>
                </section>
            </div>
        </div><br>
        <div class="row-content">
            <label class="label text" for="salary">Salary</label>
            <mat-slider  thumbLabel tickInterval="10000" min=5000 max=500000 style="width: 50%;" ></mat-slider>
            <output class="salary-output text" for="salary"></output>
        </div><br>
        <div class="row-content">
            <label class="label text" for="startDate">Start Date</label>
            <div>
                <select id="day" name="Day" >
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                <select id="month" name="Month"  style="margin-left: 10px;">
                    <option value="01">January</option>
                    <option value="02">Febuary</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">Octomber</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select id="year" name="Year"  style="margin-left: 10px;">
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                </select>
                
            </div>
        </div><br>
        <div class="row-content">
            <label class="label text" for="notes">Notes</label>
            <input id="note" class="input" name="note"  placeholder="" style="height: 100px">
        </div><br>
        <div class="buttonParent">
            <button [routerLink]="['']" routerLinkActive="router-link-active" class="btn btn-outline-primary">Back</button>
            
                <button style="margin-left: 60%;" type="submit" class="btn btn-outline-primary" id="submitButton" >Submit</button>
                <button type="reset" class="btn btn-outline-primary">Reset</button>
          
        </div>
    </form>
</div>
