<div class="main-content">
    <div class="header-content">
      <div class="md-title">
        Employee Details <div class="emp-count">{{employeeCount}}</div>
      </div>
      <a class="add-button" routerLink="add">
       +Add User</a>
    </div>
  
  
    <div class="table-main">
  
  
      <table id ="display" class="table">
          <tr>
              <th></th>
              <th>Name</th>
              <th>Gender</th>
              <th>Department</th>
              <th>Salary</th>
              <th>Start Date</th>
              <th>Actions</th>
          </tr>
          <tr *ngFor="let employee of employeeList">
              <td>
                  <img class="profile" src="{{employee.profile}}" alt="">
              </td>
              <td>{{employee.name}}</td>
              <td>{{employee.gender}}</td>
              <td>
                  <div class="dept-label">
                      {{employee.departments}}
                  </div>
              </td>
              <td>{{employee.salary}}</td>
              <td>{{employee.date}}</td>
              <td>
                  <img id="" src="../assets/icons/delete-black-18dp.svg" (click)="deleteById(employee.id)" alt="delete">
                  &nbsp;
                  <img id="" src="../assets/icons/create-black-18dp.svg" (click)="editById(employee.id)" alt="edit">
              </td>
          </tr>
      </table>  
  </div>
  </div>
  
