html body{
    margin: 1px;
     height: 100%;
     background-color: #f7f7f7;
 }
 select {
    padding: 12px;
    border: 1px solid#ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}

.text-gender{
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
    margin-right: 10px;

}

.emp-text{
    font: normal normal bold 20px/25px Popins;
    font-family: "Poppins" , sans-serif;
    letter-spacing: 0px;
    text-transform: capitalize;

}
.emp-payroll{
   color: #42515f;

}
*{
    box-sizing: border-box;
}
.form-content{
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;

}
.form{
    width: 65%;
    padding : 44px 60px;
    background:#ffffff 0% 0% no-repeat padding-box ;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px ;
    opacity: 1;

}
.form-head{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    text-transform:capitalize;
    opacity: 1;
    padding-bottom: 20px;


}
.container{
     margin: auto;
     width: 65%;
    padding : 44px 60px;
    background:#ffffff 0% 0% no-repeat padding-box ;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px ;
    opacity: 1;
 }
.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
   
    align-items: center;
    border: 0px solid green;

}
.label{
    min-width: 140px;
   
}
.label{
    padding : 12px 12px 12px 0px;
    
}
.text{
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}
.input{
    width: 100%;
    padding: 12px ;
    border : 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
   
}

.profile-radio-content{
    display: flex;
    flex-direction: row;
    

}
.profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    

}
.profile{
    width: 40px;
    border-radius: 50px;
    margin-left: 5px;
}

select{
    padding:  12px;
    border : 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}
.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;

}
.button{
    font-size: 20px;
    font-family: Roboto;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: nono;
    font-weight: 400;
    min-width: 148px;
    padding: 7px;
    border: 1px solid #707070;
    cursor: pointer;
}
.btn btn-outline-primary{
    margin: 30px;
}

.cancelButton{
    text-decoration: none;
    text-align: center;
}
.cancelButton:hover {
    background-color: #59baf3;
    color: white;
  }
.resetButton{
    border: none;
    background-color: #f5f5f5;
    margin: 30px;

}
@media only screen and (max-width : 960px) {
    .cancelButton {
        margin-left: 0px;

    }
    .form{
        width: 85px;
        padding: 44px 20px;

    }
    
}
@media only screen and (max-width : 600px){
    .form{
        margin-top : 10px

    }
    .row {
        flex-direction: column;
        
    }
    .profile-radio-button {
        flex-flow: wrap;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction:  row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;

    }
    .example-margin {
        margin: 0 10px;
      }
    .submitButton{
        margin: 0px;
    }
    .example-section {
        margin: 12px 0;
      }
    .buttonParent{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    mat-slider {
        width: 200px;
      }
      
}